[2020-12-13 01:38] tintinmovie opened #231 "SFD Training Code"
I would like to retrain the SFD model on my own dataset. Do you happen to have the training code for the model? I can't seem to find any other reports on GitHub with it.

Thanks 😄

[2020-12-13 18:14] #213 closed

[2020-12-13 18:14] 1adrianb commented on #213
Thanks for reporting it and sorry for the delay.

[2020-12-13 18:19] #225 closed

[2020-12-13 18:19] 1adrianb commented on #225
Technically yes, this won't change for results of the network itself thought. Fixed.

[2020-12-13 18:24] 1adrianb commented on #217
@franz101 Apologies for the delay. It's a matter of having the data to train the models with. If you have a dataset available I can have a look over it.
I used one in the past (for cats and dogs), but that was in 2016, I need to check, but its unlikely that I still have the data around.

[2020-12-13 18:28] 1adrianb commented on #209
Apologies for the delay. If its still relevant, that was simply used due to a shift present in the original data  vs the detected bounding box.

[2020-12-13 18:28] #209 closed

[2020-12-13 18:29] #112 closed

[2020-12-13 18:30] #160 closed

[2020-12-13 18:31] #78 closed

[2020-12-13 18:35] 1adrianb commented on #141
I am aware that this is not useful anymore, but for future reference this is due to how the key points are discretized into the heatmaps. This helps recover some acc loss due to this conversion.

[2020-12-13 18:35] #141 closed

[2020-12-13 18:36] #156 closed

[2020-12-13 18:39] #114 closed

[2020-12-13 18:42] 1adrianb commented on #231
I am afraid I don't have the code any longer,  there are however quite a few repos available online for others SOTA face detections works that you can likely use. For most of the  cases you won't really notice any difference between them.

[2020-12-13 18:42] #231 closed

[2020-12-13 18:47] 1adrianb commented on #228
The memory consumption is likely dominated by the face detection network. You can partially address this by downsampling your images appropriately (note: make sure that you don't downsample to the point where they are missed). For the later 2 there is not much that you could, not without modifying the code at least unfortunately. If you are willingly to adjust the pipeline, you could run each step

[2020-12-13 18:50] 1adrianb commented on #219
Apologies for the delay, most of the time I go trough the git issue during holidays :) I am afraid that for this models at least here are no other measurements beyond the ones reported in the paper.
You can find all the comparisons on our ICCV'17 paper ( http://openaccess.thecvf.com/content_ICCV_2017/papers/Bulat_How_Far_Are_ICCV_2017_paper.pdf ).

I will look into re-evaluating them to report als

[2020-12-13 18:54] 1adrianb commented on #202
Duplicate of #4 That being said, I should dig into my old backups and look into this at some point.

[2020-12-13 18:54] #202 closed

[2020-12-13 18:59] #151 closed

[2020-12-13 19:01] 1adrianb commented on #124
Duplicate of #4

[2020-12-13 19:01] #124 closed

[2020-12-13 19:02] #195 closed

[2020-12-13 19:03] #163 closed

[2020-12-13 19:06] 1adrianb commented on #162
Duplicate of #151

[2020-12-13 19:06] #162 closed

[2020-12-13 19:07] #173 closed

[2020-12-13 19:12] #155 closed

[2020-12-13 19:13] 1adrianb commented on #186
~/.cache/torch/hub/checkpoints
The paths should be consistent with what pytorch hub is using

[2020-12-13 19:13] #186 closed

[2020-12-13 19:49] 1adrianb commented on #146
Duplicate of #111. For now only the https://github.com/1adrianb/face-alignment-training torch7 code is available.

[2020-12-13 19:49] #146 closed

[2020-12-13 19:55] #120 closed

[2020-12-13 21:48] #229 closed

[2020-12-13 21:50] 1adrianb commented on #229
Thanks a lot for you including a testing frame and proposing a potential solution!

[2020-12-13 21:55] 1adrianb commented on #210
@Thalassocracy let me know please if you still plan to make a pull request, otherwise I will look into it. Thanks! :)

[2020-12-13 22:06] 1adrianb commented on #226
@rakadambi Sorry for delay. Does this happens in the case of blazeface only for vertical videos? Have you tested it with sf3d?

I presume this is a duplicated of #210.

[2020-12-13 22:08] #127 closed

[2020-12-14 00:51] rakadambi commented on #226
I should have clarified. Yes, this works fine with SF3D. Pretty much all the images I tested work fine with SF3D. Blazeface seems to fail now and then and it seems vertical frames fail, but not all.

If you need me to test more, I am happy to do that.

[2020-12-14 11:59] 1adrianb commented on #215
This is expected for dlib since different models are in fact used in cpu vs gpu mode, but the rest should produce consistent results. Could you share a frame that results in different predictions for the s3fd detector?

[2020-12-14 12:25] old-fan-kk commented on #215
This problem did not occur when I changed to another machine, I think this problem may be caused by memory

[2020-12-14 15:46] #215 closed

[2020-12-15 04:28] Deccan12 opened #232 "Warning: No faces were detected."
I am feeding correct face image but getting following error. For rest of the face images it is working fine but for few of them I am getting following error.

Warning: No faces were detected.
Traceback (most recent call last):

  File "<ipython-input-2-d983de3a759c>", line 7, in <module>
    preds = fa.get_landmarks(input_img)[-1]

TypeError: 'NoneType' object is not subscriptable

[2020-12-15 09:51] 1adrianb commented on #232
@Deccan12 If you get the above warning, then, as the message states, the face detector was unable to detect one (perhaps too high or low resolution or the face is too much zoomed in). Of course you can experiment between the sf3d and the blazeface detector and see which one works better in your case. If you already know the location of the face, in terms of (x,y) coordinates of the bbox, then you

[2020-12-15 09:52] #232 closed

[2020-12-16 00:48] Deccan12 commented on #190
Did you find the answer to this?

[2020-12-16 00:50] Deccan12 opened #233 "Conversion from 3d to 2d?"
Can we convert detected 3d facial landmarks for still image to 2D directly or would these landmarks be different for 2D and 3D?

[2020-12-16 09:11] rakadambi opened #234 "Does Face Alignment face detection (sfd and blazeface) require connection to internet?"
This is something I found out by accident.

My internet went down and the code was running. It failed at face detection for both SFD and Blazeface stating that the soket connection failed.

Do we need Intenet connection to run FA?

[2020-12-16 09:24] rakadambi commented on #234
Pasting the error here. I see this when network goes down.

`raise ConnectionError(e, request=request)
requests.exceptions.ConnectionError: HTTPSConnectionPool(host='raw.githubusercontent.com', port=443): Max retries exceeded with url: /hollance/BlazeFace-PyTorch/master/anchors.npy (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7fca33019850>: Failed to estab

[2020-12-16 10:52] 1adrianb commented on #234
You shouldn't need internet once the models are downloaded. I see however that for blaze face indeed there is one file that is not stored locally. I will push a fix for this.

[2020-12-16 12:01] rakadambi commented on #234
Hi @1adrianb . It is the same error for SFD as well. At first I thought it was only for blazeface. But it is the same error for SFD

[2020-12-16 12:13] 1adrianb commented on #234
I've just made a commit that should address the blaze face issue. I am unable to reproduce the error with SFD however.
The model downloading and caching is now in all cases handled by the torch.hub module which is the same used for example by the torchvision pretrained models.

[2020-12-16 12:20] 1adrianb commented on #233
The are 3 configuration modes the codes run: 2D, 2.5D and 3D. The 2.5D ones are simply the projection of the 3D ones, so there (x.y) coordinated for the 2.5D and 3D ones is the same.

The 2D ones, due to historical reasons mainly, are annotated at the boundary of the face and they lose correspondence with the actual 2.5D ones for non-frontal faces. To better illustrate the differences between this

[2020-12-16 12:46] rakadambi commented on #234
Thank you! Thank you! This is amazing!

[2020-12-16 13:34] #226 closed

[2020-12-16 13:35] #210 closed

[2020-12-16 13:38] 1adrianb commented on #226
The error itself should be avoided now. One of the likely reason why blazeface fails more often is likely due to the fact that it operates on 128x128px images. This seam to be the default settings used in mediapipe/graphs/face_detection/face_detection_mobile_gpu.pbtxt Increasing the resolution should likely perform better at the cost of extra computational demand.

[2020-12-16 21:14] Deccan12 commented on #233
Thank you, that clears it up.

[2020-12-16 21:14] #233 closed

[2020-12-17 10:30] #234 closed

[2020-12-17 11:57] Deccan12 commented on #233
I ran the code for 100's of images with folloing 2 detectors:

fa2D = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, device='cpu', flip_input=True)

fa3D = face_alignment.FaceAlignment(face_alignment.LandmarksType._3D, device='cpu', flip_input=True)

But for both of these configuration, i got exact same output, of dimensions (68,3), is it normal or am I missing anything?

[2020-12-17 12:26] Deccan12 opened #237 "Same output for 2d and 3d detectors?"
I ran the code for 100's of images with following 2 detectors:

fa2D = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, device='cpu', flip_input=True)

fa3D = face_alignment.FaceAlignment(face_alignment.LandmarksType._3D, device='cpu', flip_input=True)

But for both of these configuration, i got exact same output, of dimensions (68,3), is it normal or am I missing anything? Shouldn't

[2020-12-17 12:33] 1adrianb commented on #237
@Deccan12 I will assume you are overriding some of the variables somewhere.
For example, the following code works as expected (ie. the landmarks and their shape is different):
[code]

[2020-12-17 13:36] #237 closed

[2020-12-17 13:37] Deccan12 commented on #237
It does generate different ouput, does it have anything to do with flip_input argument?

[2020-12-17 13:48] 1adrianb commented on #237
The ._2D should generate 68x2, and ._3D 68x3, with different locations in general. The ._2.5D should match with the 3D ones.
The flip argument simply runs the networks twice, once with normal image and another time with its flipped version. It then averages the predictions.

[2020-12-17 17:26] imadtoubal commented on #226
@1adrianb I concur. The way BlazeFace has been implemented is it crops the frame instead of resizing. I thought this would actually help preserve the aspect ratio of the face. I have seen other implementations where people used 3 square tiles (across x or y) and then do 3 separate inferences, this way, you don't lose any parts of the frame. Perhaps @jklewis99 might be able to help since he sold th

[2020-12-17 18:11] 1adrianb commented on #226
@imadtoubal thanks! perhaps this should be done via resizing + padding to avoid cropping ans scale distortions ?

[2020-12-17 18:16] imadtoubal commented on #226
That's definitely one way to do it! Might perform a little worse with 16:9 and similar aspect ratios since it will require quite a bit of resizing. Almost half of the 128x128 image will be black and faces might be too low-résolution to detect.

[2020-12-21 06:20] La4La opened #241 "Error in initialization in version 1.3.0"
First of all, thank you for developing this great library!

I've used this library for a while.
I can use version 1.1.1 and 1.2.0 without any problem, however I got the following error after I updated it to 1.3.0 or 1.3.1.
(I'm using pytorch 1.6.0+cu101.)
[code]

[2020-12-21 08:24] kk1997-oct commented on #241
I've got same problem like you just now. Have you solved it?

[2020-12-21 09:52] La4La commented on #241
Not yet. Want help from the author 🙏

[2020-12-21 11:42] 1adrianb commented on #241
A quick fix is to update to pytorch 1.7.x
I will deploy a fix for 1.6.0 in a 2-3 hours

[2020-12-21 14:16] #241 closed

[2020-12-21 14:26] 1adrianb commented on #241
This should be now fixed if you update from source or to 1.3.2. The minimum pytorch version required is 1.5

[2020-12-22 02:59] oussamasf opened #243 "get_landmarks_from_directory"
when i call " `get_landmarks_from_directory`" i get this error
get_landmarks_from_directory
[code]

despite that i respected the doc instructions but still have same problem

[2020-12-22 04:06] RegisWu opened #244 "errors on python3.8 pytorch1.6 cuda10.2"
Hi, I follow the instructions to install latest version of face_alignment and run it to detect facial landmarks. But it reports errors as following, could you please give me some advice to solve this problem? Thanks!

My environment is python3.8 + pytorch16 + cuda10.2 (install with pip install face-alignment)

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/r

[2020-12-22 06:48] ekinim commented on #62
When I import the face_alignment, it kills the kernel. What should I do? what may the problem be? Thanks for any help.

[2020-12-22 13:29] ekinim commented on #243
I was trying on my computer, but I couldn't manage to import the face_alignment library. Then when I migrate to Google Colab, I faced the same issue.

[2020-12-22 16:25] 1adrianb commented on #243
@ekinim what version of pytorch are you using? The minimum supported one is 1.5.x.

[2020-12-22 16:41] 1adrianb commented on #243
@oussamasf could you try installing it from source please?

[2020-12-22 16:46] 1adrianb commented on #244
@RegisWu could you try from source please?

[2020-12-22 17:10] oussamasf commented on #243
i m using pytorch 1.7.1

[2020-12-22 17:57] 1adrianb commented on #243
@oussamasf thanks for the info, can you try installing the package directly from github source? It should be fixed now

[2020-12-22 21:19] oussamasf commented on #243
the problem is fixed ,thank you so much !

[2020-12-22 21:19] #243 closed

[2020-12-23 02:21] RegisWu commented on #244
@1adrianb I tried to reinstall from source and the problem is solved now. Many thanks!

[2020-12-23 02:21] #244 closed

[2020-12-23 06:40] chenmingjiongjiong commented on #244
@1adrianb I got the same error today, on python 3.8.5 pytorch-cpu 1.7.1 numba 0.51.2.
(I installed face_alignment using conda)

[2020-12-23 09:40] 1adrianb commented on #244
@chenmingjiongjiong are you sure that you are using the latest version? Try printing face_alignment.__version__
The above error is triggered in the SFD detector, which shouldn't be possible since that code path was removed.

[2020-12-23 14:23] chenmingjiongjiong commented on #244
@1adrianb I'm using 1.3.2. But I see the latest release on github is 1.3.2?

[2020-12-23 14:30] 1adrianb commented on #244
@chenmingjiongjiong Please upgrade to 1.3.3 or install from source

[2020-12-24 06:51] zhangyux15 commented on #205
Hi! Have you convert the model to onnx? I successfully convert the onnx model, but I cannot parse with tensorrt...

[2020-12-24 09:54] 1adrianb commented on #205
@zhangyux15 Version 1.3.3 includes onnx models by default, I haven't tried them with Nvidia's tensorrt.

[2020-12-25 12:26] ekinim commented on #243
Thank you Adrian, problem fixed. You are so kind and diligent.

[2021-01-05 09:06] Xavier31 opened #247 "Loss of precision with v1.3"
Hi
It seems that the results of the update (version 1.3.1) are noticeably worse than the last one (version 1.2).
I made some benchmark and although it does not seem much in terms of NME, it is there and even more noticeable when you look at the images
![2D_benchmark_comparisons_0 02](https://user-images.githubusercontent.com/47775020/103625774-ba2b5980-4f3b-11eb-952c-cee9b25065eb.png)

(look at th

[2021-01-05 10:07] 1adrianb commented on #247
This is strange indeed, what function are you using to get the landmarks? Could you please attach the input image as seen by the detector, without points on top?

[2021-01-05 10:46] Xavier31 commented on #247
I am using get_landmarks_from_image() with the face bounding box detected by SFD in argument
here is the original image
![00023](https://user-images.githubusercontent.com/47775020/103637071-337e7880-4f4b-11eb-9d81-5976a40652db.png)

[2021-01-05 23:51] 1adrianb commented on #247
Thanks for attaching it. The difference is caused by how the image normalization is performed. The correct one for SFD should be BGR+subtracting the mean. Prior to 1.3.0 there were some inconsistencies on this matter (during batch detection this was wrongly not performed).
Now, it looks that the fix made things slightly worse in certain cases which implies that the scale used is slightly suboptima

[2021-01-06 11:18] Xavier31 commented on #247
Thanks for taking the time to look into this.
I did try on a private dataset but it also consists of large frontal poses like selfies so I guess it is also biased. Results are also worse with v1.3 (graph at the top of my first post). On the other hand the results using the BlazeFace detector are fine. I did not try on a more in the wild dataset such as 300W
The question is how tuned is the actual

[2021-01-06 11:30] Xavier31 commented on #247
bonus question : for selfie images, cropping the face to a square introduces a lot of deformation. Would it recommend to retrain (or fine-tune) the network on these images ?

[2021-01-06 14:44] 1adrianb commented on #247
@Xavier31 At the time this models were trained the noise was generated synthetically during training, neither SFD nor blaze face were released yet.
There is not much tuning performed, the values for the scales and shifts were selected by testing 2-3 values on a small subset of images. Ideally yes, this values should be slightly different for each detector, assuming that they define or predict boun

[2021-01-06 16:12] Xavier31 commented on #247
ah thanks for the explanation, I did not realize the aspect ratio was preserved. But that means that in some cases, the cropped image will include a lot of background, and the heatmap that are far from the center of the image are much more noisy right ?

[2021-01-06 16:34] 1adrianb commented on #247
What happens is that sometimes the face indeed can be too small (ie include a lot of background) or cropped out (lets see that the chin may get cut by mistake if the scale is off.
The networks can be retrained with more rectangular shapes if that's desired. For example for human pose, since most often that not humans can be contained in a tall rectangle, the shape of the heatmaps are indeed rectan

[2021-01-16 11:08] moncio commented on #4
Hi @1adrianb , any kind of advance in this task? thank you so much

[2021-01-17 20:11] ibadamimarz commented on #164
@miracleyoo Did you get a chance to make a PR for retina ? :)
Thank you!

[2021-01-19 08:19] rakadambi opened #248 "Error with CUDA option for detecting landmarks. Version 1.3.3"
I am doing landmarks using SFD and CUDA. With CUDA I am getting some kind of cuda_init error. It is working fine with CPU option.

My GPU seems fine. Here is the result of nvidia-smi

Tue Jan 19 13:39:19 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.102.04   Driver Version: 450.102.04   CUDA Version: 11.0     |
|------------------------------

[2021-01-19 10:30] 1adrianb commented on #248
Hi @rakadambi,

I don't think this is something specific to the library itself but more general with your cuda&pytorch setup. Please see [[1]](https://stackoverflow.com/questions/58595291/runtime-error-999-when-trying-to-use-cuda-with-pytorch) and [[2]](https://discuss.pytorch.org/t/cuda-runtime-error-999/69658/21)

[2021-01-19 12:17] rakadambi commented on #248
Thank you very much! Those links were helpful in fixing the issue.

[2021-01-19 12:17] #248 closed

[2021-01-19 17:38] dpnvnt opened #249 "Where can I find the complete network architecture?"
Hi, I was looking for the network architecture, is there any document explaining it in details?
I need it for a University project

Thank you in advance!

[2021-01-19 17:57] 1adrianb commented on #249
See https://github.com/1adrianb/face-alignment/archive/v1.1.0.zip in face_alignment/models.py
Additionally you can visualize the current onnx models using https://github.com/lutzroeder/netron for example.
Finally, you can consult the paper: https://www.adrianbulat.com/downloads/FaceAlignment/FaceAlignment.pdf

[2021-01-20 11:42] dpnvnt commented on #249
Thank you so much, another question... where can I find the onnx file referred to the network? I think that visualizing it with netron would be very useful for us

[2021-01-21 11:21] moncio opened #250 "CUDA out of memory"
Hi, I'm discovering a problem sometimes at the first detection of the library. It seems the system in this first detection, it needs a large quantity of GPU memory coming the next error:

**_RuntimeError: CUDA out of memory. Tried to allocate 2.26 GiB (GPU 0; 10.76 GiB total capacity; 355.45 MiB already allocated; 2.27 GiB free; 2.38 GiB reserved in total by PyTorch_**

My computer is equipped by

[2021-01-21 12:05] 1adrianb commented on #250
Hi @moncio
The detector memory usage, in particular of SFD will depend on the resolution of input image. You can control/limit this by resizing your image prior to this. Note that some faces may be missed if they get to small. Alternatively, you can try the blaze face detector which should use less.

[2021-01-21 12:08] moncio commented on #250
In this case, I'm using the BlazeFace and I tried to downsample and the issue continues...

[2021-01-21 12:23] 1adrianb commented on #250
If you already did that, in this case most likely its the cudnn benchmarking flag that during the first run will try different algorithms, see for example [[1]](https://discuss.pytorch.org/t/larger-gpu-memory-usage-during-the-first-batch/58768).
As such, you could warm-up the network prior to running the rest of your code. Disabling the benchmarking may lead to slower execution.

[2021-01-21 12:43] 1adrianb commented on #249
You can use the zip I pointed you out too, then use the [pytorch onnx module](https://pytorch.org/docs/stable/onnx.html) to export it and visualize it in netron.

[2021-01-23 17:42] tommyjons opened #251 "Pi-in"
Trying to fix my problem on others being hardwired in my devices .

[2021-01-23 17:49] #249 closed

[2021-01-23 17:49] #250 closed

[2021-01-23 17:49] #251 closed

[2021-02-02 10:08] josephbiko commented on #165
For Anyone Still Looking, I'm using umeyame in 3d.
https://github.com/iperov/DeepFaceLab/blob/master/core/mathlib/umeyama.py

If anyone has a better Idea, I'd love to hear it.

[code]

![image](https://user-images.githubusercontent.com/17003173/106584787-e809bb00-6546-11eb-91da-6b7c19b74780.png)

[2021-02-03 18:51] moncio opened #253 "Working with Cuda 11 and Cudnn 8"
Hi, this is more a question than an issue.

I have a system with RTX 3080, Driver version 450.102, Ubuntu 20.04, Cuda 11.03 and Cudnn 8.0.5
My question, is the library ready to work with this type of configuration? I also usually work with blazeface detector.
@1adrianb

Thanks in advance

[2021-02-03 19:24] 1adrianb commented on #253
Hi @moncio  This interfacing is handled by pytorch, as such this shouldn't be an issue. Just make sure that you install an appropriate version ( see https://pytorch.org/get-started/locally/)

[2021-02-04 12:41] moncio commented on #253
Sorry again @1adrianb . I opened this question because I found this issue in this environment:

![image](https://user-images.githubusercontent.com/4520583/106893648-27264080-66ee-11eb-8d2b-3129d7c09f76.png)

This is my code to initialize the library:

[code]

However, when I run the same code under Ubuntu 18.04, Cuda 10.0 and Cudnn 7.6.5, the program runs succesfully.

So, do I need to do some adj

[2021-02-04 12:44] 1adrianb commented on #253
Can you please try updating the face alignment lib to the latest version? (1.3.3)

[2021-02-04 13:04] moncio commented on #253
Ok, I was running with v1.1.1. I will update it and try again. Thanks!

[2021-02-04 13:20] moncio commented on #253
Hi again @1adrianb . Bad news, when I run v1.3.3 with blazeface, same error I posted before.

On the other hand, when I run with sfd:

![image](https://user-images.githubusercontent.com/4520583/106898106-111b7e80-66f4-11eb-922e-6100d01c24bf.png)

[2021-02-04 14:27] 1adrianb commented on #253
According to the error trace this seems to be an issue with your nvidia/cuda installation: ```failed to open libnvrtc-builtins.so.```
Please make sure this is installed and added to your path.

[2021-02-04 15:01] moncio commented on #253
Well, in this case I'm building a docker image from this: https://hub.docker.com/r/nvidia/cuda/tags?page=1&ordering=last_updated

Using this image: nvidia/cuda:11.0.3-cudnn8-devel-ubuntu20.04

Anyway, I will check this specific library.

Thanks!

[2021-02-04 21:00] nikhilweee opened #254 "Multi GPU support"
Hi @1adrianb, thank you for publishing such an amazing library. I was wondering if it would be possible to add support for running on multiple GPUs simultaneously?

[2021-02-05 02:11] 1adrianb commented on #253
@moncio I am unable to reproduce the issue at the moment on my system. Could you check please if  after fixing the missing library the error still occurs?

[2021-02-06 12:28] moncio commented on #253
Ok, now running with Cuda 11.0 and trying your example script https://github.com/1adrianb/face-alignment/blob/master/examples/detect_landmarks_in_image.py, it seems it works great at least with blazeface.

But when I'm trying to Cuda 11.1 the problems come regarding to torch (But this error is more about compatibility of versions)
This is the message:

#RuntimeError: Unexpected error from cudaGetD

[2021-02-09 15:02] moncio commented on #253
Sorry again @1adrianb but the problem about `RuntimeError: invalid shape dimension -1061950504` persists.

I'm running a code with a video as an input source inside a image with Cuda 11.0.3, Cudnn 8.0.5 and Python 3.8
Do you have any example like that to try it?

Thanks!

[2021-02-09 18:07] 1adrianb commented on #253
Could you please try running the test suite, available in test folder? Also, does the code provided here:  https://github.com/1adrianb/face-alignment/blob/master/examples/demo.ipynb work?

[2021-02-10 07:57] moncio commented on #253
Where is this video "acazlolrpz.mp4" which you refer in the script?

[2021-02-10 09:24] 1adrianb commented on #253
@moncio Thanks for checking. If you can give me some details regarding the video (resolution at least), or if you can send me the frame that causes the crash I can try to reproduce your error in a container.

[2021-02-10 09:35] moncio commented on #253
Yes, the resolution is 1920x1080, frame rate 30. Sorry but I can`t pass to you the video. I'm not authorized.

[2021-02-16 11:11] sandesh1994199 opened #255 "Landmarks detection in video"
Hallo All,

Could any one please share the code that can be used to draw facial landmarks in video ?

[2021-02-24 01:27] kenmbkr commented on #254
@nikhilweee Did you happen to find any workarounds that make face-alignment working on multi-gpu?

[2021-02-26 07:17] zhangluustb commented on #120
How about the 2d landmarks only?

[2021-03-02 11:52] moncio commented on #4
Sorry for being heavy @1adrianb  again, but I am very interested to know about this topic if there is any progress. Thanks in advance.

[2021-03-02 14:17] mshb9999 opened #256 "ImportError: cannot import name 'download_url_to_file'"
Hi, I didn't find this particular issue and it's getting to my head. For similar issues, I tried to do different things, including:
completely uninstall numpy (triple checked that I don't have two diff versions installed), and installed numpy with version 1.15.0 and also tried with the latest
I also tried to install face-alignment in different ways (pip and conda) and installed it using requiremen

[2021-03-02 22:24] 1adrianb commented on #256
You should try a newer version of pytorch, not older. As per the documentation, ```download_url_to_file``` is part of the ```torch.hub``` package: https://pytorch.org/docs/stable/hub.html?highlight=download_url_to_file#torch.hub.download_url_to_file

The numpy error also suggests an issue with your numpy installation. Please also make sure you are using python3, python2 is not supported.

The only

[2021-03-03 00:16] mshb9999 commented on #256
Thanks Adrian and kudos for your work. Here is what I tried (please note that I didn't use python2)
I have another environment running python 3.8.5 and pytorch 1.7.1 and got the:
ValueError: At least one stride ...

As you suggested, I went to the examples folder and used this command: python demo.ipynb --inp 04.mp4 --cpu and got this error:
TypeError: __init__() got an unexpected keyword argument

[2021-03-03 01:00] 1adrianb commented on #256
Thanks for testing this, there still seams to be an issue with you environment in 3.6 unrelated to this package, [this](https://github.com/numpy/numpy/issues/12977) could probably provide some hints on fixing this.

Regarding the rest, it seams that I forgot to merge a pull request, sorry for this. In your python 3.8 env could you please try to install the lib from source instead of pip/conda and

[2021-03-03 02:40] mshb9999 commented on #256
Good news. But first the bad
I proceeded to install the latest python 3.9, then latest pytorch and torchvision, then face-alignment and got a similar error:
ValueError: At least one stride in the given numpy array is negative, and tensors with negative strides are not currently supported. (You can probably work around this by making a copy of your array  with array.copy().)

Then I saw your messag

[2021-03-05 06:36] timeanddoctor opened #257 "running the example but get error."
File "d:\ProgramData\Anaconda3\lib\site-packages\face_alignment\api.py", line 106, in get_landmarks
    return self.get_landmarks_from_image(image_or_path, detected_faces)

  File "d:\ProgramData\Anaconda3\lib\site-packages\torch\autograd\grad_mode.py", line 26, in decorate_context
    return func(*args, **kwargs)

  File "d:\ProgramData\Anaconda3\lib\site-packages\face_alignment\api.py", line 150

[2021-03-05 06:36] timeanddoctor commented on #257
`import face_alignment
from skimage import io
# cuda for CUDA
fa = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, device='cpu')
input = io.imread('1.jpg')
preds = fa.get_landmarks(input)`

[2021-03-05 14:35] 1adrianb commented on #257
I just run the .py file from the examples folder and I was unable to reproduce your error, neither on a windows nor linux machine.
Please make sure that you are using an updated numpy and numba package.

[2021-03-05 14:36] #256 closed

[2021-03-10 14:27] Mumuwei opened #258 "ImportError: cannot import name 'download_url_to_file'"
How to solve this problem
ImportError: cannot import name 'download_url_to_file'

[2021-03-10 19:14] 1adrianb commented on #258
Please update your pytorch installation to a newer version.

[2021-03-17 01:26] moldach opened #259 "At least one stride in the given numpy array is negative"
I'm trying to use the `first-order-model`'s `crop-video.py` which calls `face-alignment` and I'm getting the following error:

[code]

Any idea what's going wrong here?

[2021-03-17 01:51] 1adrianb commented on #259
@moldach could you please install it from source, the issue should be fixed on master. I will push the changes to pip this weekend.

[2021-03-17 12:32] #258 closed

[2021-03-17 21:53] moldach commented on #259
Okay, I've also tried to install it from source like this:

[code]

## `pip freeze`

[code]

[2021-03-17 22:55] 1adrianb commented on #259
It doesn't like that you have installed the latest version:
Current version:  https://github.com/1adrianb/face-alignment/blob/2bcfcc6ea20d0104d48942737639827fd3d5e816/face_alignment/detection/sfd/detect.py#L15

Line present in the error: ```img = torch.from_numpy(img).to(device, dtype=torch.float32)```

[2021-03-18 16:10] eyaler commented on #169
can you give some thumb rules for acceptable image sizes?

[2021-03-19 02:03] BigTom007 commented on #4
Hi @1adrianb , I'm also very interested about 2 stack network, since 2 stack Hourglass was used in your other paper.

[2021-03-22 18:35] danperazzo opened #260 "License of pre-trained model"
Hello everyone, thanks for licensing this excellent work! Just a question, what is the license of the pre-trained model? Can we use it for a commercial solution?

[2021-03-23 14:15] Mumuwei commented on #258
ok, thanks

[2021-03-24 08:47] wywywy01 commented on #165
hi，i want to known how can i get landmarks_68_3D？

[2021-03-24 11:59] josephbiko commented on #165
Either use these, or checkout basel face model

[2021-03-24 12:57] 1adrianb commented on #260
Please note that this is not a legal advice.
The code and the models are offered under BSD-3 Clause, however we don't own the images used for training (300W, 300W-LP, AFLW etc). As such its best to check what is the implication of this with the authors of the datasets.

[2021-03-24 13:13] danperazzo commented on #260
Ok, thank you!

[2021-03-24 13:13] #260 closed

[2021-03-30 10:25] meherabhi opened #261 "Problem because of getaddrinfo"
Downloading: "https://www.adrianbulat.com/downloads/python-fan/s3fd-619a316812.pth" to /home/mtech/kmeher/.cache/torch/hub/checkpoints/s3fd-619a316812.pth

for res in _socket.getaddrinfo(host, port, family, type, proto, flags):
socket.gaierror: [Errno -2] Name or service not known

How to solve this issue?

[2021-03-30 18:19] 1adrianb commented on #261
It looks that there are some network access issues, thought the endpoint is up. You can bypass this by manually downloading this file and place it in the expected location (i.e. /home/mtech/kmeher/.cache/torch/hub/checkpoints/s3fd-619a316812.pth).

[2021-04-01 03:46] MagicFrogSJTU opened #262 "Detection Confidence Needed."
The current code outputs grid coordinates as detection results without detection confidence. Therefore, the model often generates confusing detections for some edge-case images.
It is easy to get the face detection confidence, while it is hard to get the alignment confidence. I go through the code but it is not an easy job for new comers. Is there any approach?

[2021-04-01 07:18] waibi8bo opened #263 "how to input an image and then get a .pts file?"

[2021-04-01 10:44] 1adrianb commented on #262
You can use the value of the max as a network confidence measure. While this is not perfect it can be used to detect wrong points fairly accurate. To achieve this you can modify  this function: https://github.com/1adrianb/face-alignment/blob/2bcfcc6ea20d0104d48942737639827fd3d5e816/face_alignment/utils.py#L185 and return also the max value in addition to that of argmax.

[2021-04-01 10:47] 1adrianb commented on #263
Currently the code will return an array. You can manually save this to any format you like. You can likely get a pts file with the help of ```numpy.savetxt```

[2021-04-01 10:48] #261 closed

[2021-04-01 13:12] MagicFrogSJTU commented on #262
Thank you for your reply! I have already implemented the method. I wonder if there is any plan to add this as a formal feature?

[2021-04-01 16:57] yujun531 opened #264 "Where is the specific code of FAN"
Hello!
In the face_alignment/api.py
we can see the class FaceAlignment which is corresponding to 2 hourglass network and it can regress landmarks.

However, I could not run the specific code of FAN  after download the model "2DFAN-4"(in # Initialise the face alignemnt networks and the url is https://www.adrianbulat.com/downloads/python-fan/2DFAN4-cd938726ad.zip).

And I even do not know how to rea

[2021-04-01 21:39] 1adrianb commented on #264
It really depends on what is the your end goal. The downloaded model already contains both the network architecture and the weights and as such running it directly should be possible, e.g:
[code]
Note that the model in this form expects as input a facial image of 256x256 pixel and will output a set of 68 heatmaps, one for each keypoint. You can find the logic for detecting the face, cropping it, p

[2021-04-02 05:19] yujun531 commented on #264
Thanks for your answer.
I want to get the middle layer features of the second hourglass.
If load it by using torch.jit.load
`        self.face_alignment_net = torch.jit.load(
            load_file_from_url(models_urls.get(pytorch_version, default_model_urls)[network_name]))`
I can get the network but I could not get the middle layer features. There is only two .pth files

If manually decompressing

[2021-04-02 12:08] 1adrianb commented on #264
In this case, the best is to use the model definition from version 1.1: https://github.com/1adrianb/face-alignment/releases/tag/v1.1.1

There, the model is explicitly defined in python and you can directly adapt it's code to retrieve any intermediate features that you may need.

[2021-04-02 12:54] yujun531 commented on #264
thank you very much！you really helped me a lot

[2021-04-02 19:40] dguari1 commented on #218
You should low pass filter the x and y position of your landmarks, or use a network created to work with videos.

[2021-04-02 20:54] 1adrianb commented on #262
There were a few similar questions in the past, so probably its worth adding it. Feel free to make a pull request.

[2021-04-06 02:46] MagicFrogSJTU commented on #262
I will try to make a pull request in recent days!

[2021-04-06 18:36] #263 closed

[2021-04-06 18:36] #264 closed

[2021-04-10 04:53] JOST777 opened #265 "Warning: No faces were detected."
I'm wondering if it would make sense to make this an actual warning instead of a `print` call. My work flow involves processing many images where only a fraction contain faces, so its inconvenient to print a line every time that happens. Maybe there is a recommended pre-screening procedure? But even then, I think I would still want to suppress the message in the event that it did happen.

[2021-04-10 11:41] 199906peng commented on #117
@1adrianb
So,how can we get other models?The large model is great,but i want to try faster model.

[2021-04-12 01:29] 1adrianb commented on #265
Agree, this makes sense to me. Feel free to make a pull request if you prefer. If not I can adjust it this week.

[2021-04-12 22:01] JOST777 opened #266 "Parallelizing on the CPU"
Is it possible or has anyone tried to parallelize face-alignment on the CPU? I tried to do so with `from multiprocessing import Pool`, but I ran into [this pytorch issue](https://github.com/pytorch/pytorch/issues/18106).

I'm assuming the thing to do is to just run on a GPU, but I thought I would put it out there in case someone already knows a way to make multiprocessing work.

[2021-04-16 18:26] livefire2015 commented on #169
Just from my test: image sizes no bigger than 256x256 px work fine.

[2021-04-18 14:04] Zju-George opened #267 "which trained model is the most accurate"
<img width="762" alt="image" src="https://user-images.githubusercontent.com/33959089/115148403-fec5a580-a091-11eb-91cc-60f197578bb9.png">
Silly question here but I really want to get higher accuracy.

[2021-04-18 14:54] 1adrianb commented on #267
The weights of each group are identical and they simply reflect the internal changes made inside pytorch. Beyond this 2DFAN will produce 2D landmarks, 3DFAN - 2.5D landmarks and 3DFAN + the depth model will produce 3D landmarks. The projection of the 3D landmarks into 2D correspond with the 2.5D predictions.

[2021-04-18 15:03] Zju-George commented on #267
@1adrianb Thanks for your reply! Yeah, I've just tested it out and I see that.

Also, one thing I've noticed is that the eye landmarks being not aligned perfectly when the eye is closed.
Do you have any plan to fine-tune the model on images where people closing their eyes?

[2021-04-19 01:57] SchJas opened #268 "Output of `preds`"
The code provided here for 3D landmarks.

`import face_alignment
from skimage import io

fa = face_alignment.FaceAlignment(face_alignment.LandmarksType._3D, flip_input=False)

input = io.imread('../test/assets/aflw-test.jpg')
preds = fa.get_landmarks(input)`

I wanted to ask before I install the package. So just to clarify, if I were to print `preds` I should obtain a (68,2) array, which contains

[2021-04-19 08:01] 1adrianb commented on #268
For the 3D flag passed in the example the array will be (68,3). If you pass _2D or _2halfD they will be indeed (68,2). If multiple faces are present a list of arrays will be returned.

[2021-04-20 09:56] 1adrianb commented on #267
Sorry for delay, yes, but I don't have an exact timeline unfortunately.

[2021-04-24 03:13] linkksng opened #269 "[Feature Request] Add support for BlazeFace back camera model"
The current blazeface model uses the front camera model from [hollance/BlazeFace-PyTorch](https://github.com/hollance/BlazeFace-PyTorch). According to their readme, this model is suitable only for selfie using front camera, and is not very suitable for other types of portrait photos.

A while ago they have added another model for the rear camera, which is claimed to capture smaller faces in non-se

[2021-04-25 13:02] Zju-George commented on #267
@1adrianb If you could share your training code, I would be willing to try the fine-tune work.

[2021-04-26 18:54] sunshower76 opened #270 "Could you update the output of the function."
Hi!
I really appreciate your work!
but, It will be good If we can get a detection bounding box also.

Could you add the additional option to get the bounding box of the landmark?

Thanks!

[2021-04-28 21:45] 1adrianb commented on #270
Hi, sure I can add a flag for this and return the detected bounding boxes too.
The same can be achieved by calling the face detector https://github.com/1adrianb/face-alignment/blob/2bcfcc6ea20d0104d48942737639827fd3d5e816/face_alignment/api.py#L126 before the face alignment and then passing the bounding boxes to it. But I agree sometimes its more convenient to return the bboxes in one go too.

[2021-04-28 21:57] #270 closed

[2021-04-28 22:06] 1adrianb commented on #269
@linkksng For compatibility reasons, in case someone prefers the old behavior probably its best to preserve the old model and logic too and simply mark it as deprecated.
Depending on how much the code changed, if its possible you can perhaps add the new model too in ```net_blazeface.py``` under a different code name while minimizing/avoiding the code repetition. Then, in ```face_alignment/detectio

[2021-04-28 22:07] #268 closed

[2021-04-28 22:09] #265 closed

[2021-04-29 02:19] MagicFrogSJTU commented on #262
@1adrianb Very Sorry that these days I am quite occupied.

Before making a PR, should we discuss the API first? How about this:
1. Add a keyword: return_confidence=False
2. return landmark point confidence along with coordinates.  shape_before: 68, 2.  shape_after: 68, 3.
What do you think?

[2021-04-29 10:18] 1adrianb commented on #262
@MagicFrogSJTU No worries!

1. Agree
2. My only concern with this is that depending on the detection type (2D or 3D) the value of the 3rd column may change from representing the depth (for 3D points) to confidence for 2D. Perhaps returning a separate vector with 68 values is simpler?

[2021-04-29 15:28] MagicFrogSJTU commented on #262
My concern is:
1. For detected faces, both the confidence and the coordinates are combined in one variable. For instance, [p1_x, p1_y, p2_x, p2_y, confidence]. Thus, for landmarks, should we keep the same pattern?
2. If the last column represents landmark confidence, we can still make 2D and 3D compatible. For 2D, the 3rd column is for confidence. For 3D, the 4th column is for confidence.

What do

[2021-04-29 15:29] MagicFrogSJTU commented on #262
I know very little about API designing, so maybe you are right. Just give me a final result and I will implement it!

[2021-04-29 19:18] 1adrianb commented on #262
Can we go with a separate array please? Could you also describe please both the new flag and the returned value in the function doc description? Thanks!

[2021-04-30 02:00] MagicFrogSJTU commented on #262
One last thing,
Which one to take?
1. return landmark, landmark_confidence, detected_faces
2. return (landmark, landmark_confidence), detected_faces

[2021-04-30 02:00] MagicFrogSJTU commented on #262
One last thing,
Which one to take?

return landmark, landmark_confidence, detected_faces
return (landmark, landmark_confidence), detected_faces

[2021-04-30 09:42] MagicFrogSJTU commented on #262
def get_landmarks_from_image(self, image_or_path, detected_faces=None, return_bboxes=False, return_landmark_score=False,):
        """Predict the landmarks for each face present in the image.
        This function predicts a set of 68 2D or 3D images, one for each image present.
        If detect_faces is None the method will also run a face detector.
         Arguments:
            image_or_path

[2021-04-30 10:35] 1adrianb commented on #262
Agree, let's go then with 2 cases only: if either ```landmarks_confidence``` or ```detected_faces``` is True we return 3 values as you suggested, if both are False we will return for now a single value (i.e. only the landmarks). This should simplify this conditioning while maintaining backward compatibility. At a later point in a more major code revision this can be unified.

[2021-05-03 15:00] MagicFrogSJTU commented on #262
#271

[2021-05-04 20:55] #262 closed

[2021-05-05 16:04] MarkuzK opened #272 "Addition of confidence scores & bounding boxes doesn't handle "No faces were detected." gracefully."
Hey, I appreciate the addition of the confidence scores being returnable with the landmark values. But it seems that the handling of images that have no faces / no faces being detected is not done properly yet.

[...]/face-alignment/face_alignment/api.py:144: UserWarning: No faces were detected.
  warnings.warn("No faces were detected.")
Traceback (most recent call last):
[...]
File "[...]/face-al

[2021-05-05 16:30] #272 closed

[2021-05-05 16:31] 1adrianb commented on #272
Sorry for this, it should be fixed now.

[2021-05-27 18:26] 0fine0 opened #273 "errors on python 3.6.5, face-alignment 1.3.4, cuda 10.2, torch 1.6.0"
Hi, when I try to run the demo of 2D facial landmarks detection,

my code:
*******************************************************
import face_alignment
from skimage import io

fa = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, flip_input=False)

input = io.imread('C:/Users/csjddu/Desktop/images/1.jpg')
preds = fa.get_landmarks(input)
**********************************************

[2021-05-27 23:48] 1adrianb commented on #273
Does this happen for any image or just for that particular one?
Could you run the examples/detect_landmarks_in_image.py using the provided assets or simply run please the test/ using pytest?

You can also try upgrading you numpy and numba version. Alternatively, as a dirty fix you can clone the repo and comment out all instance of "@jit(nopython=True)" that you found in the code, installing afterw

[2021-05-28 05:56] 0fine0 commented on #273
I have solved this problem. The error seems to be induced by a old version numba package. And although I tried to update my numpy, numba and torch packages, the jupyter notebook didn't update the environment until the restart.

For face-alignment 1.3.4, I think numba 0.51.2, numpy 1.19.5, torch 1.8.1 can work.

Thank you for your help!

[2021-05-28 05:56] #273 closed

[2021-05-31 05:12] YL-Hong opened #274 "Landmark features"
Can I export every landmark coordinate and add new landmark?

[2021-06-06 09:18] Monyneath1996 opened #275 "How to get landmark from batch?"
Can you tell me how to get landmarks from a batch of images?

Thanks in advance!

[2021-06-06 09:27] #275 closed

[2021-06-07 15:34] Sentero-esp12 opened #276 "ValueError when adding `device='gpu'`"
I'm getting this error:
[code]
at this line:
[code]
when I set `device='gpu'`

It runs fine when I set it to `cpu`.

GPU: 750 ti
Driver Version: 465.19.01
CUDA Version: 11.3

[2021-06-07 15:47] 1adrianb commented on #276
@Sentero-esp12 The values supported match the ones supported by pytorch. For cpu, `device='cpu'` while for gpu `device='cuda'`. A specific gpu can be specified like this: `device='cuda:0'`

[2021-06-07 15:49] #276 closed

[2021-06-21 12:45] jin-s13 commented on #142
I have met the same problem. Does anyone know how to obtain the 3d landmarks?

[2021-06-24 18:50] connormeaton opened #277 "Processing speed discrepancy"
Thank you for open sourcing this code. I am interested in the landmark detection. I am using it on an AWS ec2 (p2.xlarge with 8 NVIDIA K80 GPUs). All I'm running is the face detector and landmark function. It looks like this:

[code]

When I print the time, I'm getting between 9-12 seconds to predict landmarks on 1 image. I have tried changing the device='' parameter to 'cpu' and 'cuda', but its n

[2021-07-01 20:00] ricglz opened #278 "Landmarks are completely incorrect"
I'm trying to create the 2D landmarks of an image, but they're completely wrong as can be seen in the following images:

### Original image

![opened_eyes](https://user-images.githubusercontent.com/26823011/124182505-8eb5a180-da7c-11eb-9062-16efd26dcede.jpg)

### Annotated image with bbox and landmarks

![annotated_img](https://user-images.githubusercontent.com/26823011/124182715-dc320e80-da7c-11e

[2021-07-01 23:56] 1adrianb commented on #278
I tried running the library using your image and it worked fine. I assume it's an issue with the format of your bounding box. Please see the implementation from https://github.com/1adrianb/face-alignment/tree/master/face_alignment/detection

For an example of how to run the code see:
https://github.com/1adrianb/face-alignment/blob/master/examples/detect_landmarks_in_image.py

Running the code link

[2021-07-01 23:56] #278 closed

[2021-07-02 00:28] 1adrianb commented on #277
Sorry for delay, the 30fps were not including the detector.

The first forward pass will be significantly slower as the network will initialize, load the models etc. You should:
a) create the `fa` model a single time, then reuse it in the subsequent calls to `.get_landmarks()`
Example of pseudo-code:
[code]
Note that `time` library is not ideal for measuring this, but it should be sufficiently acc

[2021-07-02 00:30] #277 closed

[2021-07-02 01:00] ricglz commented on #278
Ok, just found the actual error. When doing the `points = points[0].astype(numpy.uint8)` statement, attempting to cast `float32` to `uint8` reduces significantly the value of the numbers.  This can be fixed by changing the line to either of the following:

[code]

[2021-07-03 04:55] mea-lab commented on #165
scene is the image that you want to align as a np.array

[2021-07-06 11:56] jayp84847 opened #279 "Dataset"
Yet I am working on project with dlib 68 landmarks.
But its not enough stable  for further use. In some research I got your module.

Please can you guide me how to create this with dlib ".dat" file.

[2021-07-15 14:43] ruanjiyang opened #280 "get_landmarks_from_directory error."
Dear 1adrianb

I tried to run following simply python script:

import face_alignment
from skimage import io
fa = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, flip_input=False)
preds = fa.get_landmarks_from_directory('./misc/Input/517600055/')

===============================

but I got following errors.  could you please help me? thanks!

TypeError: expected dtype object, got 'nu

[2021-07-15 14:51] 1adrianb commented on #280
Could you please try updating numba to the latest version? This is likely due to some incompatibility between your numpy and numba version.

[2021-08-04 02:06] LinusLGL opened #281 "python code issue on setup and demo"
Hi,
There is an issue that i am facing while running the python code.

<img width="455" alt="erro2" src="https://user-images.githubusercontent.com/46456480/128110265-32470a25-8e31-4074-aead-b6958c1bb711.PNG">
<img width="490" alt="error1" src="https://user-images.githubusercontent.com/46456480/128110272-787fc6b9-166f-42b8-bb13-ef8f2ee5b2d8.PNG">

[2021-08-04 06:57] 1adrianb commented on #281
@LinusLGL It looks like something was not installed correctly or the package is at on older version. The first error implies that the package installation failed. Install it by running ```python setup.py install``` or ```pip install face-alignment``` (use the upgrade flag if appropriate).

[2021-08-04 15:11] LinusLGL opened #282 "Issue with the python code"
Hi,

I got the TypeError: __init__() got an unexpected keyword argument 'face_detector_kwargs'

how do i resolve this problem

![image](https://user-images.githubusercontent.com/46456480/128206097-2bf2c166-d4f5-4c0e-9ef8-26d8564cf6f1.png)

[2021-08-04 15:41] 1adrianb commented on #282
Marked as duplicate of #281

Please use the same issue that you opened previously to discuss this.

[2021-08-04 15:41] #282 closed

[2021-08-04 15:43] 1adrianb commented on #281
To followup on this, the class does contain that argument (see https://github.com/1adrianb/face-alignment/blob/c49ca6fef8ffa95a0ac7ce698e0b752ac91f6d42/face_alignment/api.py#L53). Please make sure you are using the latest version (1.3.4). You can check this using ```face_alignment.__version__```

[2021-08-04 15:45] #274 closed

[2021-08-04 15:46] 1adrianb commented on #274
Sorry, I missed your issue. For reference, you can export the coordinates to any format you wish to. Adding a new landmark that is not a simple interpolation of the previous ones will require retraining the networks.

[2021-08-04 15:47] #247 closed

[2021-08-04 16:27] LinusLGL commented on #281
I am using ver (1.1.1) how do i update it

[2021-08-04 16:31] 1adrianb commented on #281
@LinusLGL ```pip install face-alignment -U```

[2021-08-04 16:35] LinusLGL commented on #281
i install 1.3.4 however it keep using 1.1.1
![Uploading why.PNG…]()

[2021-08-04 17:14] LinusLGL commented on #281
Manage to resolve that issue thanks.

But, where can I find an example of this in the file?

And is the image size fixed or can i use a different image resolution?

![find](https://user-images.githubusercontent.com/46456480/128224622-94565658-0f02-41ed-b2c3-175cea2b710e.PNG)

[2021-08-04 17:30] 1adrianb commented on #281
The resolutions is not fixed. The code will automatically detect the faces and pre-process the  images as needed. The larger the images - the more time it will take thought.

The example provided however runs for a single image and then plots the points on top. You can modify the example code to produce results similar with the ones shown.

[2021-08-05 21:50] sxs4337 commented on #143
@lucaskyle Did you fix it? And how?

[2021-08-08 22:23] lucaskyle commented on #143
yeah sure i fixed it

Outlook for iOS<https://aka.ms/o0ukef> を入手
________________________________
差出人: sxs4337 ***@***.***>
送信日r: Friday, August 6, 2021 6:50:58 AM
宛先: 1adrianb/face-alignment ***@***.***>
CC: lucaskyle ***@***.***>; Mention ***@***.***>
件名: Re: [1adrianb/face-alignment] AttributeError: module 'face_alignment' has no attribute 'FaceAlignment'???? (#143)

@lucaskyle<https://github.

[2021-08-13 09:25] #279 closed

[2021-08-17 09:46] thogerb opened #283 "[Contribution suggestion] Allow explicitly passing in model_dir"
Hi @1adrianb

Lovely package, first of all. I was testing it, and ran into (and have resolved in a fork) an issue with deploying to AWS Lambda:

* AWS Lambda only allows IO writes to the /tmp/ directory namespace
* The current package defaults to the `get_dir` from torch.hub which is not within that namespace
* Result: No models run on AWS Lambda from what I can deduce

Fix/enhancement (easy): Add

[2021-08-17 12:43] thogerb commented on #283
Ok, I notice now that the same could probably also be achieved by globally calling `torch.hub.set_dir` or settings the `TORCH_HOME` environment variable.

Docs: https://pytorch.org/docs/stable/hub.html#torch.hub.get_dir

Personally not a big fan of using the global state but it should suffice for the use case 👍

[2021-08-23 19:47] segalinc opened #284 "error importing face_alignment"
Hello,
I was trying to import the package and not sure why this is happening. I think is from the scikit-image side but then there might be a version requirement to set to make it still work

[code]

[2021-08-23 21:33] segalinc commented on #284
the current fix for now is to install as requirement pooch!=1.5.0 but that's not the nicest solution

[2021-08-25 10:27] yr21kim opened #285 "cannot download detector model parameters"
Hi, thanks for your great work!
I am wondering if I could get some help running this code.

I tried to download the model parameters manually due to limitations that I have, but I could not access the website (www.adrianbulat.com) with empty response error.

Is there a way I can get the model parameters?
I would really appreciate if you could let me know if I missed anything.

I'll be looking forw

[2021-08-25 10:49] #285 closed

[2021-08-27 07:22] jayp84847 opened #286 "Dlib"
Can I train dlib's 68_face_landmarks.dat module with this technique in same ".dat" format.

Link : https://drive.google.com/file/d/1oJafFb54laUkrlnd3Xj-2cEPs3ci9WsA/view?usp=drivesdk

If yes can you please guide me for it.

[2021-09-01 11:06] xuedue opened #287 "Can this detection library be used for training?"
I have pip this package, And the effect is very good.

But I want to know if this can be used for training?

For example, I want to predict the landmarks of the generated image and the input image, and calculate the landmark loss to train the network.

[2021-09-04 09:17] shash29-dev opened #288 "SystemError: CPUDispatcher(<function _get_preds_fromhm at 0x7fc50e018440>) returned a result with an error set"
installed using setup.py
and,
running  ---> preds = fa.get_landmarks(input)  gives error:
TypeError: expected dtype object, got 'numpy.dtype[float32]'

The above exception was the direct cause of the following exception:

[code]
info:
Ubuntu 16
nvidia-smi 465 drivers
cuda-8.0
python 3.7

what may be the issue and how to resolve?

[2021-09-06 21:42] 1adrianb commented on #288
This is likely due to an incompatibility between numba and numpy. Please make sure you are using the latest versions.

[2021-09-12 10:26] LinusLGL opened #289 "Adding new landmark location"
Hi, is it possible to add new landmark location like for example:
Landmark 70 located above landmark 1 by a few x axis position away?

[2021-09-13 01:53] LinusLGL commented on #289
And is it there an area to change the thickness and the size of the landmark circle and line

[2021-09-14 14:09] segalinc opened #290 "get_landmarks_from_image() got an unexpected keyword argument 'return_landmark_score'"
Hi there,
I have the latest version of face-alignment (1.3.4) but I get the error that return_landmark_score in't available
Any hint?

Thank you

[2021-09-14 14:52] usamaamjad7 commented on #290
if you use colab notebook please input   !pip install face_alignment -q  --upgrade

[2021-09-14 15:11] segalinc commented on #290
I am not using colab

[2021-09-14 15:41] 1adrianb commented on #289
While you can add this as a post-processing on top the provided 68 landmarks, this points won't be learned and as such they may or may not correspond with the correct location in the image.

[2021-09-14 16:57] #290 closed

[2021-09-14 17:42] usamaamjad7 opened #291 "Face alignment pipeline for custom dataset"
Hii there,
How we can create a custom pipeline in Face alignment . if we input our own data ,which type of pipeline we create for custom dataset.
if  any one can do this work on custom data set please share your code link if you have.
thanks

[2021-09-15 10:31] GaryGky opened #292 "Error: can't convert cuda:0 device type tensor to numpy."
![image](https://user-images.githubusercontent.com/47270685/133417258-d35909f6-4abb-42bc-b74a-c2f7f80a0379.png)

When I try to predict landmarks with method: get_landmarks(), in line 126, we have a numpy array, but in line 138, we have a tensor default to locate in cuda:0 if GPU is available. But in line 142, we try to calculate a tensor on cuda and numpy array. So I got the problem:
"can't conver

[2021-09-16 06:50] Yingying6 opened #293 "pretrained models"
if readers want to leverage the architecture of FAN network, where can we download the pre-trained models?
Many thanks.

[2021-09-17 13:43] 1adrianb commented on #293
For traced model you can find the links here: https://github.com/1adrianb/face-alignment/blob/c49ca6fef8ffa95a0ac7ce698e0b752ac91f6d42/face_alignment/api.py#L31

For normal weights you can find the links here: https://github.com/1adrianb/face-alignment/blob/ffc8bb499598c9076b28c3a2dc706b24c648b183/face_alignment/api.py#L39
and the corresponding model files here: https://github.com/1adrianb/face-al

[2021-09-24 06:56] 1144181135 opened #294 "The order of landmarks"
Hello. Can you provide a demo for the order of landmarks, i.e., which landmark corresponds which parts ? Thanks

[2021-09-25 19:27] 1adrianb commented on #294
Currently, the landmarks follow the 68-points configuration used in the 300W dataset and challenge.

![image](https://user-images.githubusercontent.com/2567045/134783927-e658664c-1133-4e13-8b36-20c7532c4b9a.png)

[2021-09-29 17:35] MZHI commented on #292
Hi! I think it is not a bug, because the description for method 'crop' from https://github.com/1adrianb/face-alignment/blob/master/face_alignment/utils.py says that image and center must be of type np.array. So, just create center of type np.array instead of torch.tensor

[2021-10-20 13:04] xieyipeng opened #296 "Some details"
How do you perform face alignment?
Is it to use affine transformation after detecting the key points of the face?

thank u!

[2021-10-24 07:33] nidhicj opened #297 "Assertion Error"
Hello, I am presented with assertion error as below:

![image](https://user-images.githubusercontent.com/26617222/138584981-b33ba8fb-c6a7-4e86-9f79-ff9ddfa2eb53.png)

Could you possibly let me know what is the work around for this kind of error. I am using Affectnet dataset

[2021-11-11 11:32] Kitty-sunray commented on #228
you can put detector in  separate file and run as
python detector.py input.jpg output.npy
garbage collector will do the job to free memory
notice it would require additional file write/read, but no other solution seems to be easy

[2021-11-11 11:33] Kitty-sunray commented on #185
you can put detector in separate file and run as
python detector.py input.jpg output.npy
garbage collector will do the job to free memory
notice it would require additional file write/read, but no other solution seems to be easy

[2021-11-15 14:02] gitjohnnygit opened #298 "Elements in Bounding Boxes"
Hello @1adrianb, many thanks for your powerful work!

I can't figure it out why bounding_boxes contains 5 elements when a face is detected? The first four values are (x, y, x+w, y+h) with no doubt. But what is exactly the fifth value which is lower than 1 for the test image aflw-test?

Would appreciate for any comments.

[2021-11-15 15:08] 1adrianb commented on #298
Hi @gitjohnnygit

The last value is the confidence of the detected bounding box.

[2021-11-15 15:12] gitjohnnygit commented on #298
Hi @1adrianb

I see! Many thanks for your quick reply.

[2021-11-22 01:11] sidnetopia opened #300 "CUDA error on getting landmarks"
Hello, I'm getting an error on getting facial landmarks

`
---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
~\AppData\Local\Temp/ipykernel_21192/3125532886.py in <module>
----> 1 get_facial_landmarks(sample_img, fa)

~\AppData\Local\Temp/ipykernel_21192/3797573127.py in get_facial_landmarks(image

[2021-12-01 14:13] ravikiranrao commented on #165
Which is this library "facelib"? Can you please provide the link to its source code?

I found the following libraries with the same name:
1. https://github.com/sajjjadayobi/FaceLib
2. https://github.com/kutayyildiz/facelib

[2021-12-01 15:01] josephbiko commented on #165
I know, a bit odd.
But I stole it from:
https://github.com/iperov/DeepFaceLab/tree/master/facelib

good luck!

[2021-12-01 15:52] ravikiranrao commented on #165
Thanks @josephbiko though you are not using those in the current code. Apologies.

[2021-12-13 02:03] fungtion commented on #143
@lucaskyle How you fix it? I met the same issue

[2021-12-14 08:13] urnotpopcorn opened #301 "Negative depth value"
Great job! But why do some of the output depth values are less than zero? Did you normalize the values and how?

[2021-12-17 15:01] HWiese1980 commented on #183
Not a solution, merely a workaround! This is a feature of the library that still isn't working properly. It's a bug. It should be fixed. For good.

[2021-12-17 17:27] 1adrianb commented on #183
This is not a bug in the library. The certificate is valid. Please check for example: https://stackoverflow.com/questions/27835619/urllib-and-ssl-certificate-verify-failed-error

[2021-12-27 12:17] iiHeys commented on #288
Problem solved.Thank you!

[2022-01-05 12:31] BIGJUN777 opened #303 "It seems a bug in function "get_landmarks_from_directory( )""
Hi there,

**When I used the _get_landmarks_from_directory( )_ function as recommended [here](https://github.com/1adrianb/face-alignment#process-an-entire-directory-in-one-go), it was strange that the detected results of some images were wrong. Please check the images below:**
![image](https://user-images.githubusercontent.com/35102882/148214858-a01456ca-8e2e-4c0b-8064-f491169adf23.png)

**While w

[2022-01-19 12:35] Mofafa opened #304 "Slow inference speed in first 2 images"
Hi, thanks for your wonderful work!

I tried to get face landmarks for a group of images in a for loop, and I found that it is always slow in the first 2 images.

<img width="266" alt="time" src="https://user-images.githubusercontent.com/28086790/150130071-d8f90cca-e3a2-47d8-a207-4b38981d0e7e.png">

I used 3D model and "get_landmarks_from_image" function.

Why?

[2022-01-20 14:18] 1adrianb commented on #304
Hi, during the first iteration some internal buffers are initialized and the model is basically warmed up + the torch.backends.cudnn.benchmark makes a few checks to find the optimal algorithms for the convs.

[2022-01-24 07:53] Mofafa commented on #304
Thank you!

[2022-01-24 07:53] #304 closed

[2022-02-16 11:09] skol101 opened #305 "Does it work on drawn faces?"
Wonder if the model detects alignment of drawn face or can be fine-tuned to do so?

[2022-04-07 07:44] lvZic commented on #165
works for me

[2022-04-13 07:45] tianqi-zhao commented on #268
And what the three values means for 3D? For 2D, it is the coordinate of image like (x, y), but I can't understand the meaning for 3D. There are even negative numbers.

[2022-04-15 03:13] perphyguo opened #307 "Problem about Pickle"
Hi,

I noticed that the data is saved as PKL.

I tried to use pickle package, but I meet a problem.

![pickle](https://user-images.githubusercontent.com/14899779/163512281-8a5a8a2a-6fa4-4572-b5f5-4d23ecff00e9.PNG)

The same problem happen on colab.

The pickle package is default pre-installed package. I did not install anything.

After installing pytorch, nothing changes.

Thanks!

[2022-04-21 02:57] DCMJY opened #308 "some error about blazeface"
When I input the image about 1920*1080, blazeface can not work. Do you have any solutions?

[2022-04-22 01:50] xieyipeng opened #309 "Terminology Issues for Face Alignment and Keypoint Detection"
* This `face-alignment` is for face key point detection,But how should I do the real alignment operation?

* Like an affine transformation, keeping the eyes on the horizon?

* I want to know the most formal, real alignment

* thak u!

[2022-04-22 13:46] 1adrianb commented on #309
The terminologies are largely used interchangeable.
This reflects how historically face alignment/key points detection was performed: one would take a deformable facial model and align it with an image such that the model will now match the location of a set of desired fiducial points.

A good reference for this is the work from Gu&Kanade (https://link.springer.com/referenceworkentry/10.1007/978-0

[2022-04-22 13:47] 1adrianb commented on #305
Sorry for delay, it can be finetuned to work on them if data is available. As it is, without finetuning it will perform poorly on such images.

[2022-04-22 13:47] #305 closed

[2022-04-25 10:03] Illeke opened #310 "Subpixel regression"
Dear @1adrianb,
I was wondering if this repo includes the code mentioned in your paper "Subpixel Heatmap Regression for Facial Landmark Localization"? I wasn't able to see any mention of it in the release notes. I am working on my master's dissertation and would love to run the code for some comparisons. Thank you in advance and have a nice day!

[2022-05-07 09:18] Illeke commented on #310
Implemented it successfully myself.

[2022-05-07 09:18] #310 closed

[2022-05-17 16:00] toti-bz opened #311 "RuntimeError: Numpy is not available"
using python 3.10.1, torch:  1.11.0+cu113 and numpy 1.21.6, the following error occurs:

[code]
I figured that the error is due to incompatible versions of python, pytorch and numpy:
Numba needs NumPy 1.21 or less
pytorch 1.11 needs NumPy 1.22

so I need  to downgrade all my packages in order to run the pretrained model code
is there any update concerning this problem?

[2022-05-18 01:14] 1adrianb commented on #311
While I haven't tested, it doesn't look like pytorch enforces explicitly 1.22 for numpy (https://github.com/pytorch/pytorch/blob/master/requirements.txt). If downgrading numpy to 1.21 doesn't work, you can either a) disable numba in the source code -- this will results in slightly slower execution or b) create a new environment with a older config.

[2022-05-24 20:08] Amanit commented on #310
Dear @Illeke, could you share the code please?

[2022-05-30 21:26] zenoxvx commented on #275
Hi! Do you know how to solve it now? The api('get_landmarks_from_batch') doesn't work.

[2022-05-30 21:49] zenoxux opened #312 "how to get face landmarks from a batch?"
could anyone tell me how to get face landmarks from a batch? the api 'get_landmarks_from_batch' seems not to work, the code shows that it still get landmarks from image one by one.

[2022-05-31 22:10] BrutalCaeser opened #313 "Where is the output saved?"
I ran the code and it is working fine but can not locate the output files.

[2022-06-06 09:47] ZhenyanSun opened #314 "Can not change device to 'cuda:1' for faceAlignment"
for I have cuda 0,1,2,3 but it specifies to 0 always.

[2022-06-07 10:09] 1adrianb commented on #314
You should be able to change this by passing the device explicitly: e.g.: ```device = 'cuda:1'``` when constructing the model.
Alternatively, if you are running this as a separate script you can export the CUDA_VISIBLE_DEVICES=3 (for the 4th gpu) before calling you script.

[2022-06-08 07:49] ZhenyanSun commented on #314
Thanks very much for your reply. Before I specify the os.environ["CUDA_VISIBLE_DEVICES"]="3" and also specify the device = 'cuda:3', then there was cuda error.

[2022-06-20 15:01] FedericoCozziVM opened #315 "Access to enum LandmarksType should be public"
`LandmarksType` enums types are marked as private and raise weak warnings when accessed (i.e. in `README.md` examples).

I can imagine that they're named with the underscore because of the impossibility of starting a variable name with a number - and because of the perfect naming `2D` or `3D` which is self-explicative. However, I propose to rename them in a more _pythonic_ way, such as:

[code]
In

[2022-06-24 14:31] HEzelda commented on #313
Have you solved this problem? I have the same problem.

[2022-06-26 16:17] 1adrianb commented on #313
The lib will return a dict of arrays or an array containing the points. You will need to save them afterwards in the desired format and location.

[2022-06-26 16:17] #313 closed

[2022-06-29 21:41] toti-bz opened #318 "Use Face Alignment Detector as backbone for pytorch faster rcnn"
I am trying to use face alignment network as backbone for faster rcnn pytorch pretrained model. I am using the net_s3fd structure as a feature extraction network and this is how I implement it.
`def create_model(num_classes):

    fa = face_alignment.FaceAlignment(face_alignment.LandmarksType._2D, device='cuda', face_detector='sfd')

    s3fd_detector = fa.face_detector.face_detector

    conv1_1

[2022-07-15 08:19] PyDeps opened #319 "Project dependencies may have API risk issues"
Hi, In **face-alignment**, inappropriate dependency versioning constraints can cause risks.

Below are the dependencies and version constraints that the project is using
[code]

The version constraint **==** will introduce the risk of dependency conflicts because the scope of dependencies is too strict.
The version constraint **No Upper Bound** and **\*** will introduce the risk of the missing API

[2022-07-18 09:28] FPerezHernandez92 commented on #249
Hi. Currently I need to obtain the landmarks of lateral faces. I have tried the face_alignment tool and it works very well, congratulations. I wanted to ask how to export the model to ONNX as I have not found the solution. The model I want to export is 2DFAN4-cd938726ad.zip. Thank you very much for your help

[2022-07-21 15:07] seva100 commented on #145
I suppose one can use the `crop_video.py` script from the first-order-model repository: https://github.com/AliaksandrSiarohin/first-order-model/blob/master/crop-video.py. It uses face-alignment under the hood and does the frames extraction, alignment and packing back into the video inside of the script.

[2022-07-22 14:14] seva100 commented on #145
@huybg-1975 I've compiled the procedure described by @1adrianb in a short script: https://gist.github.com/seva100/71807a726d2d153d5b5a30773999ebd6

It supports either face-alignment or MTCNN detector (`--mode` parameter). MTCNN is faster due to the small GPU memory consumption (and hence more threads `--n_jobs` can be used) but face_alignment must be more accurate I suppose.

[2022-07-22 14:14] seva100 commented on #71
@TDBTECHNO feel free to use this video2video script: https://gist.github.com/seva100/71807a726d2d153d5b5a30773999ebd6

[2022-08-09 06:52] anewusername77 opened #320 "If I downloaded pre-trained model manually, how can I use it with `face_alignment.FaceAlignment` ?"
Hey there,
The code I use is:
[code]
and the output in terminal is:
[code]
Because of the downloading problem, I manually downloaded the pre-trained model , now I just want to use it with api.
Big thanks if you can help me!

[2022-08-09 09:33] #320 closed

[2022-08-17 14:42] ohjarwa opened #321 "RuntimeError: Unrecognized data format"
Hi!
RuntimeError: Unrecognized data format when I use facealignment. The concrete error is below:

Traceback (most recent call last):
  File "F:\codeplace\FLAME\neural-head-avatars\python_scripts\video_to_dataset.py", line 890, in <module>
    create_dataset(args)
  File "F:\codeplace\FLAME\neural-head-avatars\python_scripts\video_to_dataset.py", line 872, in create_dataset
    converter.annotate_

[2022-08-18 14:37] LY-Donkey-Burger opened #322 "about MTCNN face detector"
Hi，your work is great，but can you add MTCNN face detector？

[2022-09-05 18:02] PinPointPing opened #323 "Expression transfer"
Since 3D landmark output is possible, would it be possible to transfer the expressions from one tracked face to another while keeping the original head position?

[2022-09-08 13:29] DungLeMTA opened #324 "Where is Face Alignment?"
As my opinion, this repository is the Landmarks of Face, it is not Face Alignment? Where I can find it?

[2022-09-09 06:25] imxtx commented on #324
You are right. It is just a landmarks detection tool. The name is missleading.

[2022-09-09 18:49] 1adrianb commented on #324
Face alignment and key points localisation are used interchangeable in the literature. The former reflects the historical way of detecting the facial fiducial points on a face by aligning a shape model to a face. See for definition: https://link.springer.com/referenceworkentry/10.1007/978-0-387-73003-5_186

Given the points, one can compute a transformation to align the textures of two face too, u

[2022-09-09 18:49] #324 closed

[2022-09-09 18:51] 1adrianb commented on #323
In principle it's possible, there a few systems around that use this landmark detector for this (deep face-like). However, using it directly its sub-optimal, as one will need to train a form of generative modeling, conditioned on the model output, to add the required visual realism.

[2022-09-09 18:53] 1adrianb commented on #321
Apologies for the delay, I would assume you addressed this by know. I was unable to reproduce it under your env. Perhaps an error occurred while downloading the models, in which case re-downloading them, should fix the issue.

[2022-09-09 18:53] #321 closed

[2022-09-09 18:53] #319 closed

[2022-09-09 18:54] #311 closed

[2022-09-09 18:55] #314 closed

[2022-09-09 18:55] #309 closed

[2022-09-09 18:56] #298 closed

[2022-09-11 16:46] PinPointPing commented on #323
Are there any specific repos I can be referred to?

[2022-09-16 07:14] fosforoglu commented on #165
I tried this as well by assigning "scene" variable to image itself and it seems to work but the output is just the mouth (aligned but just mouth), probably because LipNet is focusing on lips only. Since the math operations are confusing for me i couldn't figure out where exactly the cropping is done. Could you please help me to extract aligned face?

[2022-09-19 18:48] TheFrator opened #325 "Determine confidence scores on landmarks"
Hey!

Are there anyways to find the confidence scores of the landmark predictions? I see there's a parameter "return_landmark_score" in the "get_landmarks" method but I do not know what the units for that value are . The scores are an array.

[2022-10-18 08:25] Vadim2S commented on #321
I am stuck same issue and found a cure. I my case it is was non-english symbols in user name. Therefore PyTorch can not download weights and fall with this vague error.

The cure is simple (for windows):  set TORCH_HOME=c:\.torch_home\  or another pure english-name directory.

[2022-10-19 08:00] trra1988 opened #328 "Help for backbone"
Hello, thanks for the share, I got lots of help from the program, but I need to change the result of point position, so I need to train a new model to fit it, could I got the information fo backbone, thanks so much.

[2022-10-31 09:17] rlczddl commented on #121
how to?

[2022-11-01 12:00] skol101 commented on #305
I'm sorry -- how can the model be finetuned? Would you provide training  instructions?

[2022-11-03 09:24] s1083714 opened #329 "How to plot human face image landmarks like the demo"
What should I do to plot the human face image landmarks like the demo

[2022-11-03 09:59] #329 closed

[2022-11-15 06:10] Panghema opened #330 "about tensor input"
hey, thanks for your share.
when using the method 'get_landmarks_from_image', I input a tensor whose size is (1, 3, 128, 128) to image_or_path. then it will call method 'get_image' from face_alignment.utils. first, it transforms tensor into numpy, then steps into 'elif image.ndim == 4: \n\t image = image[..., :3]. this step changes the size of numpy from (1, 3, 128, 128) into (1, 3, 128, 3). actua

[2022-11-15 15:43] 1adrianb commented on #330
The expected image shape is ```(H,W,3)```. A basic batching is implemented using ```get_landmarks_from_batch()```.

[2022-11-17 00:41] ywangmy opened #332 "Error in examples/demo.ipynb testing on a batch"
In "Testing on a batch":

[code]
the 2nd loop is redundant, need to plot `pred[:, 0], pred[:, 1]` only.